* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: noigrotesk !important;
  line-height: 1;
  letter-spacing: -0.05em; /* adjust letter spacing depending on font size*/
  word-spacing: normal; /* adjust word spacing depending on font size */
  -webkit-font-smoothing: antialiased; /* looks better */
  -moz-osx-font-smoothing: grayscale; /* looks better */
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  background: none;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  transition: all ease 0.2s;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

svg {
  max-width: 100%;
  cursor: pointer;
}

section {
  padding: 0;
  margin: 0;
}
