@font-face {
  font-family: "noigrotesk";

  src: url("/fonts/NoiGrotesk-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

:root {
  --gap: 60px;
  --fs-small: clamp(18px, 2vw, 26px);
}

h1 {
  font-size: clamp(40px, 9vw, 60px);
  letter-spacing: -2px;
  font-weight: lighter;
  text-align: center;
  line-height: 1;
}

h2 {
  font-size: clamp(22px, 2.4vw, 32px);
  font-weight: bold;
  text-align: center;
}

p {
  font-size: clamp(22px, 2.4vw, 32px);
}

a {
  color: black;
}

.container {
  width: 100%;
}

.mt-h1 {
  margin-top: 30px;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.p-border {
  padding: 50px;
}

.br-desktop {
  display: block;
}

.br-mobile {
  display: none;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  position: relative;
  height: auto;
}

/* HEADER-TOP */
/* HEADER-TOP */
/* HEADER-TOP */

.header-top {
  align-items: flex-start;
}

.header-logo {
  width: clamp(150px, 35%, 400px);
}

.header-edition {
  width: clamp(55px, 16%, 150px);
}

/* HEADER-MIDDLE */
/* HEADER-MIDDLE */
/* HEADER-MIDDLE */

.header-middle {
  width: 100%;
  height: 100%;
  transform: translateY(-25%);
}

.header-contemporary {
  height: 170px;
}

.header-tour-taxis {
  height: 120px;
}

/* HEADER-BOTTOM */
/* HEADER-BOTTOM */
/* HEADER-BOTTOM */

.header-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header-date {
  width: clamp(220px, 54%, 600px);
  margin-left: clamp(20px, 30%, 700px);
}

.pb-25 {
  padding-bottom: 25px;
}

.border-bg {
  overflow: hidden;
  background-image: url("/images/bg.svg");
  background-size: 100% auto;
  background-position: top;
}

.border-bg-2 {
  overflow: hidden;
  background-image: url("/images/bg-2.svg");
  background-size: 100% auto;
  background-position: top;
}

/* HERO */
/* HERO */
/* HERO */
/* HERO */
/* HERO */
/* HERO */

.hero {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-container {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 100%;
}

.hero-container a {
  cursor: pointer;
}

.hero-container img {
  grid-column: span 3;
}

.hero-link {
  justify-content: center;
}

.hero-link img {
  max-width: 300px;
}

/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */

.full-width-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
}

.caption-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: clamp(7px, 2.5vw, 16px);
  padding: clamp(15px, 2vw, 35px);
  letter-spacing: 1;
}

/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */

.grid-container {
  flex-direction: column;
  height: auto;
}

.grid-container-txt {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.grid-container-txt a {
  justify-content: center;
  padding-top: 25px;
}

.guest-of-honour {
  flex-direction: column;
}

.guest-of-honour img {
  width: clamp(100px, 8vw, 300px);
  margin: clamp(4px, 2vw, 15px);
}

.guest-of-honour p {
  width: clamp(350px, 80vw, 920px);
  padding-bottom: var(--p-pb);
}

.guest-of-honour-txt p {
  padding: 0 25px;
}

.cta-btn {
  width: clamp(180px, 22vw, 300px);
  cursor: pointer;
}

/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */

.border-container {
  flex-direction: column;
}

.border-container-txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.location {
  height: auto;
}

.br-desktop {
  display: none;
}

.br-mobile {
  display: block;
}

/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */

/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */

.galleries-application {
  padding-top: 70px;
  background-color: #ffff00;
  width: 100%;
  height: auto;
}

.galleries-application-txt {
  flex-direction: column;
}

.galleries-application-txt p {
  /* padding: 25px 0 clamp(5px, 2vw, 10px); */
  width: 85%;
}

/* DOWNLOADS */
/* DOWNLOADS */
/* DOWNLOADS */
/* DOWNLOADS */
/* DOWNLOADS */
/* DOWNLOADS */
/* DOWNLOADS */

.downloads {
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  gap: var(--gap);
  width: 100%;
}

.downloads img {
  width: clamp(130px, 3.5vw, 180px);
  margin: 0 auto;
  cursor: pointer;
}

.downloads-txt {
  font-size: var(--fs-small);
  max-width: 300px;
  margin: 0 auto;
}

.size-up {
  width: 40%;
}

/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */
/* ARTIST PRIZE */

.artist-prize {
  width: 100%;
  height: auto;
}

.artist-prize img {
  max-width: 400px;
  margin: 0 auto;
}

.artist-prize-txt {
  padding-top: clamp(40px, 6vw, 80px);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.artist-prize-jury p {
  font-size: var(--fs-small);
}

/* PROGRAM */
/* PROGRAM */
/* PROGRAM */
/* PROGRAM */
/* PROGRAM */
/* PROGRAM */
/* PROGRAM */
/* PROGRAM */

.program-container {
  height: auto;
  width: 100%;
}

.program-steps {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.program-steps p {
  font-size: var(--fs-small);
}

/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */
/* FAIR-ADVISORY */

.fair-advisory {
  height: auto;
  width: 100%;
}

.fair-advisory-container {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.fair-management p {
  font-size: var(--fs-small);
}

.fair-management h1 {
  line-height: 0.7;
}

.fair-management img {
  max-width: 70px;
}

.advisory-board img {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.advisory-board p {
  font-size: var(--fs-small);
}

/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */
/* INFO-CONTACT */

.info-contact-txt {
  grid-template-columns: repeat(2, 1fr);
}

.info-contact-txt p {
  font-size: var(--fs-small);
}

/* SOCIAL */
/* SOCIAL */
/* SOCIAL */
/* SOCIAL */

.social img {
  width: 200px;
  margin: 0 auto;
}

.social p {
  font-size: var(--fs-small);
}

.pt-50 {
  padding-top: 50px;
}

.pt-75 {
  padding-top: 75px;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */
/* MEDIUM SCREENS */

@media (min-width: 641px) and (max-width: 810px) {
  .galleries-application {
    padding-top: 40px;
  }

  .br-desktop {
    display: block;
  }

  .p-border {
    padding: 35px;
  }

  .mt-h1 {
    margin-top: 0px;
  }
}

/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */

@media screen and (max-width: 640px) {
  .hero-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-link img {
    width: 150px;
    margin-left: 100px;
  }

  .header-contemporary {
    height: 100px;
  }

  .header-tour-taxis {
    height: 80px;
  }

  .grid-container-txt {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .border-container-txt {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .downloads {
    grid-template-columns: repeat(1, 1fr);
  }

  .artist-prize img {
    width: 200px;
  }

  .galleries-application {
    padding-top: 50px;
  }

  .artist-prize-txt {
    grid-template-columns: repeat(1, 1fr);
  }

  .program-steps {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .opacity-50 img {
    width: 130px;
  }

  .fair-advisory-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .advisory-board img {
    width: 190px;
  }

  .info-contact-txt {
    grid-template-columns: repeat(1, 1fr);
  }

  .downloads {
    gap: 10px;
  }

  .social img {
    width: 150px;
    padding: 40px 0 20px;
  }

  .p-border {
    padding: 20px;
  }

  .pb-25 {
    padding: 10px;
  }

  .mt-h1 {
    margin-top: 20px;
  }

  .pt-50 {
    padding-top: 25px;
  }

  .pt-mobile {
    padding-top: 20px;
  }

  .br-desktop {
    display: none;
  }

  .br-mobile {
    display: block;
  }
}

/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */
/* HELPERS */

.mt {
  margin-top: 100px;
}

.txt-center {
  text-align: center;
}

.underline {
  border-bottom: 3px solid;
}

.underline-jury {
  text-decoration: underline;
}

.gap-15 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-25 {
  padding-top: 25px;
}

.mt-h2 {
  margin-top: 25px;
}

.opacity-50 {
  opacity: 0.5;
}
