@font-face {
  font-family: "noigrotesk";

  src: url("/fonts/NoiGrotesk-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

:root {
  --border: clamp(25px, 2vw, 50px);
  --p-border: 60px 50px;
}

.container {
  width: 100%;
}

h1 {
  font-size: clamp(45px, 10vw, 60px);
  letter-spacing: -2px;
  font-weight: lighter;
  text-align: center;
  line-height: 1;
}

h2 {
  font-size: clamp(22px, 2.4vw, 32px);
  font-weight: bold;
}

p {
  font-size: clamp(22px, 2.4vw, 32px);
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
  position: relative;
  height: 750px; /* Adjust the height as per your requirement */
  overflow: hidden;
  background-image: url("/images/bg-2.svg");
  background-size: 100% auto;
  background-position: top;
  padding: var(--p-border);
}

/* HEADER-TOP */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  width: clamp(150px, 35%, 400px);
}

.header-edition {
  width: clamp(55px, 16%, 150px);
}

/* HEADER-MIDDLE */
/* HEADER-MIDDLE */
/* HEADER-MIDDLE */

.header-middle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.contemporary {
  max-height: 170px;
}

.tour-taxis {
  max-height: 120px;
}

/* HEADER-BOTTOM */
/* HEADER-BOTTOM */
/* HEADER-BOTTOM */

.header-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header-date {
  width: clamp(220px, 54%, 600px);
  margin-left: clamp(20px, 30%, 700px);
}

.border-bg {
  overflow: hidden;
  background-image: url("/images/bg.svg");
  background-size: 100% auto;
  background-position: top;
}

/* HERO */
/* HERO */
/* HERO */
/* HERO */
/* HERO */
/* HERO */

.hero {
  display: flex;
  position: relative;
  width: 100%;
  height: 550px;
  padding: var(--p-border);
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 100%;
}

.hero-container a {
  cursor: pointer;
}

.hero-container img {
  grid-column: span 3;
}

.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-link img {
  max-width: 300px;
}

/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */
/* IMAGE 1 */

.full-width-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
}

.caption-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: clamp(12px, 4vw, 16px);
  padding: 35px;
  letter-spacing: 1;
}

/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */
/* GRID-1 */

.grid-container {
  display: flex;
  flex-direction: column;
  padding: var(--border);
}

.grid-container-txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
}

.grid-container-txt a {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.guest-of-honour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.guest-of-honour img {
  width: clamp(100px, 8vw, 300px);
  margin: clamp(4px, 2vw, 15px);
}

.guest-of-honour p {
  width: clamp(350px, 80vw, 920px);
  padding-bottom: var(--p-pb);
}

.cta-btn {
  width: clamp(180px, 20vw, 250px);
  cursor: pointer;
}

/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */
/* LOCATION */

.border-container {
  display: flex;
  flex-direction: column;
  padding: var(--border);
}

.border-container-txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: var(--border);
}

.location {
  height: 590px;
}

.br-desktop {
  display: none;
}

/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */
/* OBJECTIVES */

/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */
/* GALLERIES-APPLICATION */

.galleries-application {
  padding-top: 70px;
  background-color: #ffff00;
  width: 100%;
  height: 900px;
}

.galleries-application-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleries-application-txt p {
  padding: 25px 0 clamp(5px, 2vw, 10px);
  width: 85%;
}

.downloads {
  display: flex;
  padding-top: 80px;
}

.downloads img {
  width: 30%;
  margin: 0 auto;
}

.downloads-txt {
  font-size: clamp(18px, 2vw, 26px);
  padding: 15px 150px;
}

@media (min-width: 640px) and (max-width: 810px) {
  .hero {
    height: 350px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    transform: translateY(-3%);
  }

  .translate-2 {
    top: 27%;
    transform: translateY(-27%);
  }

  .translate-3 {
    top: 29%;
    transform: translateY(-29%);
  }
}

@media screen and (max-width: 640px) {
  .hero {
    height: 500px;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .grid-container {
    grid-template-columns: 1fr;
    transform: translateY(-4%);
  }

  .grid-item {
    display: flex;
    flex-direction: column;
  }

  .image-container:nth-child(1) {
    width: 95%;
  }

  .image-container:nth-child(2) {
    transform: translateY(-10%);
  }

  .header {
    height: 500px;
  }

  .translate-1 {
    transform: translateY(-15%);
  }

  .translate-2 {
    transform: translateY(-27%);
  }

  .translate-3 {
    transform: translateY(-17%);
  }

  .translate-4 {
    transform: translateY(-25%);
  }

  .vertical-text {
    padding: 10px;
  }

  .br-desktop {
    display: block;
  }

  .txt-container {
    height: 600px;
  }

  .objective-container {
    flex-direction: column;
  }
}

/* HELPERS */
/* HELPERS */
/* HELPERS */

.mt {
  margin-top: 100px;
}

.txt-center {
  text-align: center;
}

.underline {
  border-bottom: 3px solid;
}

.white-bg {
  background-color: white;
}

.pt {
  padding-top: 20px;
}

.pb {
  padding-bottom: 50px;
}

.gap-15 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mt-h1 {
  margin-top: 50px;
}

.mt-h2 {
  margin-top: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.bg-red {
  background-color: red;
  border: 1px solid white;
  width: 100%;
  height: 200px;
}
