:root {
  --border: 20px;
}

.container {
  width: 100%;
  overflow: hidden;
}

/* HELPERS */
/* HELPERS */
/* HELPERS */

.bt {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 25px solid;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 242, 0, 1),
      rgba(0, 0, 0, 0)
    )
    100% 0;
}

.br {
  border-right: var(--border) solid;
  border-image: linear-gradient(to left, rgba(255, 242, 0, 1), rgba(0, 0, 0, 0))
    0 100%;
}

.br-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-right: var(--border) solid;
  border-image: linear-gradient(to left, rgba(255, 242, 0, 1), rgba(0, 0, 0, 0))
    0 100%;
  top: -25px;
}

.bl {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: var(--border) solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 242, 0, 1),
      rgba(0, 0, 0, 0)
    )
    0 100%;
  top: -25px;
}

.mt {
  margin-top: 100px;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  position: relative;
  width: 100%;
  height: 750px;
  border-left: var(--border) solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 242, 0, 1),
      rgba(0, 0, 0, 0)
    )
    0 100%;
}

.header-top {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  grid-template-columns: 2 1fr;
}

.header-middle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 2 1fr;
  align-items: center;
}

.contemporary {
  max-height: 150px;
}

.tour-taxis {
  max-height: 110px;
  margin-right: 25px;
}

.header-logo {
  width: clamp(150px, 35%, 400px);
  position: absolute;
  top: 15px;
}

.header-edition {
  width: clamp(55px, 16%, 150px);
  position: absolute;
  top: 15px;
  right: 0px;
}

.header-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header-date {
  width: clamp(220px, 54%, 600px);
  margin-left: clamp(20px, 25%, 650px);
}

/* HERO */
/* HERO */
/* HERO */

.hero {
  position: relative;
  width: 100%;
  height: 475px;
}

.hero img {
  position: absolute;
  top: 0;
  margin-left: 25px;
  width: clamp(320px, 85%, 1150px);
}

.agenda {
  position: relative;
  width: 100%;
  height: 450px;
  top: -25px;
}

.agenda-container {
  display: flex;
  gap: clamp(50px, 10%, 250px);
  justify-content: center;
  padding: 70px 25px 0px 25px;
}

.agenda-container img {
  width: clamp(200px, 20%, 250px);
}

.contact {
  position: relative;
  width: 100%;
  height: 275px;
  top: -50px;
}

.contact img {
  width: clamp(150px, 40%, 450px);
}

@media (max-width: 640px) {
  .agenda-container {
    flex-direction: column;
    padding: 25px 25px 0px 25px;
  }

  .header {
    height: 500px;
  }

  .hero {
    height: 250px;
  }

  .agenda {
    height: 850px;
  }
}
